{% extends 'ProjectSite/base.html' %}
{% load static %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block body %}
    <section id="about_mission">
            <div class="container px-5">
                <div class="gx-5 align-items-center">
                    <div class="col-lg-12 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4 text-center">What Is ParaDYM Academy?</h2>
                            <p>ParaDYM Academy is where youth voice, art, and activism combine.  ParaDYM Academy provides hands-on STEAM programs that combine the arts, technology, and community engagement.</p>
                            <p>Not only do our youth learn how to leverage their existing media production skills, but they also learn how to use those skills to empower themselves and serve their community.</p>
                            <p>To achieve this vision, ParaDYM Academy Inc provides after-school, extended day, and out-of-school programs offering connected learning ( through media literacy, transmedia production, game design, social entrepreneurship, and life-skill training that prepare youth for post high school educational opportunities and for  a successful transitions into the workforce.</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section>
            <div class="container px-5">
                <div class="gx-5 align-items-center">
                    <div class="col-lg-12 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4 text-center">Our Vision</h2>
                            <p>We believe that by empowering, preparing and mentoring  the next generation of media literate youth in digital citizenship, community engagement, and content creation our youth will become  future leaders in the digital economy.</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section>
            <div class="container px-5">
                <div class="gx-5 align-items-center">
                    <div class="col-lg-12 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4 text-center">Play. Produce. Empower.</h2>
                            <p>1. Education through hands-on experiences (Play)</p>
                            <p>2. Youth Voice through content creation (Produce)</p>
                            <p>3. Social entrepreneurship/youth advocacy through community engagement (Empower)</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}