{% extends 'ProjectSite/log-base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    <title>Admin Organization</title>
{% endblock %}

{% block body %}
    <br>

    <div class="row px-5 mx-5">
        <div class="col-md">
            <div class="card card-body">
                <h5>Organization Options:</h5>
                <hr>
                <a class="btn btn-dark btn-outline-light btn-lg btn-block" href="{% url 'admin_panel' %}">Back</a>
                <div class="card card-body mt-3">
                <form method="get">
                    {{ OrganizationEventFilter.form|crispy }}
                    <button class="btn btn-dark btn-outline-light" type="submit">Search</button>
                </form>
            </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Organization Information</h5>
                <hr>
                <p style="font-size: 1.2rem">Organization Name: {{ org.org_name }}</p>
                <p style="font-size: 1.2rem">Organization Address: {{ org.org_address }}</p>
                <p style="font-size: 1.2rem">Organization Phone: {{ org.org_phone }}</p>
                <p style="font-size: 1.2rem">Organization Email: {{ org.org_email }}</p>
                <p style="font-size: 1.2rem">Organization Name: {{ org.org_status }}</p>
                <p style="font-size: 1.2rem">Date Created: {{ org.org_date_created }}</p>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Total Events</h5>
                <hr>
                <h1 style="text-align: center;padding: 10px">{{ orgevents_count }}</h1>
            </div>
        </div>
    </div>

    <br>
    <div class="row px-5 mx-5">
        <div class="col-md">
            <h5>All Events by Organization</h5>
		    <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Event Name</th>
                        <th>Event Description</th>
                        <th>Tag</th>
                        <th>Event Status</th>
                        <th>Date Submitted</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>

                    {% for orgevent in orgevents %}

                        <tr>
                            <td>{{ orgevent.event_name }}</td>
                            <td>{{ orgevent.event_description }}</td>
                            <td>{{ orgevent.event_tag }}</td>
                            <td>{{ orgevent.event_status }}</td>
                            <td>{{ orgevent.event_date_created }}</td>
                            <td><a class="btn btn-success btn-outline-light btn-lg btn-block" href="{% url 'update_events' orgevent.id %}">Update</a></td>

                            <td><a class="btn btn-danger btn-outline-light btn-lg btn-block" href="{% url 'delete_events' orgevent.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}