{% extends 'ProjectSite/base.html' %}
{% load static %}

{% block title %}
    <title>Contacts</title>
{% endblock %}

{% block more-styles %}
    <link rel="stylesheet" href="{% static 'css/ProjectSite.css' %}">
{% endblock %}

{% block body %}
    <div class="row px-5">
        <div class="col-md-1">
            <div class="card card-body">
                <form method="get">
                    {{ conFilters.form }}
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-11">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Domain</th>
                    <th>Resource Provider</th>
                    <th>Ages or Grades</th>
                    <th>Website</th>
                    <th>Location</th>
                    <th>Phone Number</th>
                </tr>
                {% for allcontact in allcontacts %}
                    <tr>
                        <td>{{ allcontact.contact_domain }}</td>
                        <td>{{ allcontact.contact_resource_provider }}</td>
                        <td>{{ allcontact.contact_ages }}</td>
                        <td>{{ allcontact.contact_websites }}</td>
                        <td>{{ allcontact.contact_location }}</td>
                        <td>{{ allcontact.contact_number }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block extrascripts %}

{% endblock extrascripts %}
