{% extends 'ProjectSite/base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <section>
        <header class="masthead text-center text-white">
            <div class="masthead">
                <div class="container px-5">
                    <h2 class="mb-5 text-white display-4 font-weight-bold">Self-sufficiency for you, plus services and Information for your family.</h2>
                    <p></p>
                    <form action="{% url 'about' %}"><button style="padding: 1rem 3rem;border-radius: 2rem;border: none;outline: none;line-height: 3.6rem;text-transform: capitalize;cursor: pointer;font-style: normal;font-weight: normal;font-size: 2rem;">Learn More</button></form>
                </div>
            </div>
        </header>
    </section>

    <section class="main-section">
        <div>
            <img class="special" src="https://static.wixstatic.com/media/d6c8f9_ce18e01ada6743018b7584f2b7c0d4d5~mv2.jpg/v1/fill/w_1652,h_642,al_c,q_85,usm_0.66_1.00_0.01/d6c8f9_ce18e01ada6743018b7584f2b7c0d4d5~mv2.webp" alt="n/a">
        </div>
    </section>

    <section id="home_vision">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-3"><img class="img-fluid rounded-circle" src="https://static.wixstatic.com/media/aa6dd5_39c0b44faa3546eb9f5fb7e0cb291f4b~mv2.png/v1/fill/w_574,h_366,al_c,q_85,usm_0.66_1.00_0.01/aa6dd5_39c0b44faa3546eb9f5fb7e0cb291f4b~mv2.webp" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Collaborating Actively</h2>
                            <p>With people lacking personal and social capital</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-3"><img class="img-fluid rounded-circle" src="https://static.wixstatic.com/media/aa6dd5_91c061194bc143a1bf840e434b9842f8~mv2.png/v1/fill/w_574,h_366,al_c,q_85,usm_0.66_1.00_0.01/aa6dd5_91c061194bc143a1bf840e434b9842f8~mv2.webp" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Allows for</h2>
                            <p>A network of agencies and resources that can become social capital</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-3"><img class="img-fluid rounded-circle" src="https://static.wixstatic.com/media/aa6dd5_da304c5e8ab945d7bd3c7d0bc38b3f83~mv2.png/v1/fill/w_574,h_366,al_c,q_85,usm_0.66_1.00_0.01/aa6dd5_da304c5e8ab945d7bd3c7d0bc38b3f83~mv2.webp" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4"> And Invites</h2>
                            <p>Relationships grounded in collaboration, communication, & commitment that results in improved life outcomes</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
