{% extends 'ProjectSite/log-base.html' %}
{% load static %}

{% block title %}
    <title>Organization Event Submission</title>
{% endblock %}

{% block body %}
    <div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Note</th>
					<th>Date Orderd</th>
					<th>Status</th>
				</tr>

				{% for orgevent in orgevents %}

				<tr>
					<td>{{orgevent.org_event_event}}</td>
					<td>{{orgevent.org_event_event}}</td>
					<td>{{orgevent.org_event_date_created}}</td>
					<td>{{orgevent.org_event_status}}</td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endblock %}