:root {
    --gra: linear-gradient(45deg, cyan, royalblue);

}

.header-g {
    width: 100%;
    border-bottom: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-g .ul-g .li-g {
    list-style: none;
    padding: 20px;
    margin: 10px;
    float: left;
    font-size: 20px;
    border-radius: 35px;
    /*background: red;*/

}

.header-g .ul-g .li-g .a-g {
    color: inherit;
    text-decoration: none;
}

.header-g .ul-g .li-g.active {
    background: var(--gra);
}

.header-g .ul-g .li-g.active .a-g {
    color: white;
    font-weight: bold;
}

.product-field .ul-g .li-g {
    list-style: none;
    width: 23.4%;
    height: 400px;
    transition: 0.5s all;
    background: whitesmoke;
    /*overflow: hidden;*/
    border-radius: 20px;
    padding: 10px;
    margin: 200px 10px 0 10px;
    position: relative;
}

.li-g .h4-g {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 30px;
    color: #555;
    text-shadow: 1px 1px 2px black;
}

#portfolio {
    padding: 40px;
    margin: 0 auto;
}

.gallery-title {
    font-size: 36px;
    color: #db584e;
    text-align: center;
    font-weight: 700;
    padding: 40px 20px 60px;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #db584e;
    border-radius: 5px;
    text-align: center;
    color: #db584e;
    margin-bottom: 30px;

}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #db584e;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #db584e;

}

.btn-default:active .filter-button:active {
    background-color: #db584e;
    color: white;
}

.gallery_product {
    margin-bottom: 30px;
}
