
/*box-sizing: border-box; IN * */
* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62%;
    scroll-behavior: smooth;
}

body{
    --main-color: #A27900;
    --primary-color: #CEA335;
    --button-background: #C4224A;
    --primary-button-background: #9D182D;
    --background-color: #7E1215;
}

/* -------------------------- HOME SECTION-------------------------- */
header{background-color: var(--background-color);}
.masthead{
    position: relative;
    /*
    ROOM TO ADD A PHOTO BEHIND THE TEXT
    background: var(--background-color) url("https://static.wixstatic.com/media/d6c8f9_ce18e01ada6743018b7584f2b7c0d4d5~mv2.jpg/v1/fill/w_1652,h_642,al_c,q_85,usm_0.66_1.00_0.01/d6c8f9_ce18e01ada6743018b7584f2b7c0d4d5~mv2.webp");
    */
    background: var(--background-color);
    /*url("https://i.imgur.com/LtnNISV.png");*/
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.special{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin: 0 0 20px;
    display: block;
    width: 100%;
    height: auto;
}


h1,h2 {font-family: 'JetBrains Mono', monospace;color: var(--primary-color);}
h3, h4 {font-family: 'Avenir', monospace;color: var(--primary-color);}
h3 {
    font-weight: 750;
    font-size: 2.9rem;
    line-height: 6rem;
    text-transform: capitalize;
}

p,a,li,button {font-family: 'JetBrains Mono', monospace;color: var(--primary-color);}
p{
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

a{text-decoration: none;cursor: pointer;}
li{list-style: none;}

/*button{
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}*/
button:hover{color: var(--button-background);}


/*-------------------------- MAIN CONTENT SECTION --------------------------*/
/*-------------------------- N/A --------------------------*/


/*-------------------------- NAV BAR --------------------------*/
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar > .container,
.navbar > .container-fluid
 {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {padding-right: 0;padding-left: 0;}
.navbar-nav .dropdown-menu {position: static;}
.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--background-color);
}
.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
@media (min-width: 992px) {
  .navbar-expand-lg {flex-wrap: nowrap;justify-content: flex-start;}
  .navbar-expand-lg .navbar-nav {flex-direction: row;}
  .navbar-expand-lg .navbar-nav .dropdown-menu {position: absolute;}
  .navbar-expand-lg .navbar-nav .nav-link {padding-right: 0.5rem;padding-left: 0.5rem;}
  .navbar-expand-lg .navbar-nav-scroll {overflow: visible;}
  .navbar-expand-lg .navbar-collapse {display: flex !important;flex-basis: auto;}
}

/*-------------------------- NAV COLLAPSE --------------------------*/

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
/*pse:not(.show) {display: none;}*/
.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: width 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {.collapsing.collapse-horizontal {transition: none;}}

/*-------------------------- NAV TABS, --------------------------*/
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  /*background-color: #fff;*/
  /*border-color: #dee2e6 #dee2e6 #fff;*/
}

/*-------------------------- NAV TOGGLER --------------------------*/
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
.navbar-toggler:hover {text-decoration: none;}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (prefers-reduced-motion: reduce) {.navbar-toggler {transition: none;}}

/* -------------------------- FOOTER SECTION-------------------------- */
footer{
    width: 100%;
    background: var(--background-color);
    height: auto;
    padding: 1rem 1rem;
}
footer img{width: 14rem;height: 8rem;}
footer div h4{font-size: 3rem;text-transform: capitalize;}
footer div a{font-size: 1.7rem;line-height: 150%;}

/*-------------------------- RESPONSIVE CONTAINERS --------------------------*/
.container{
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {.container {max-width: 540px;}  }
@media (min-width: 768px) {.container {max-width: 720px;}  }
@media (min-width: 992px) { .container {max-width: 960px;}  }
@media (min-width: 1200px) { .container {max-width: 1140px;}  }
@media (min-width: 1400px) { .container {max-width: 1320px;}  }



/*-------------------------- FIlter List --------------------------*/

/*-------------------------- Login List --------------------------*/

.outer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-f,.contact-f {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 0 0 1rem;
    line-height: 1;
}

.login-f,.contact-f > * + * {
    margin-top: 1.5rem;
}


.label-log-reg,.label-contact {
    width: 100%;
    max-width: 20em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px
}


.in-login,.in-contact {
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 300;
    display: block;
    margin: 0;
    border: none;
    padding: 0.5em 0;
    line-height: 5rem;
    transition: border-color 0.2s;
}

.in-login,.in-contact:focus {
    outline: none;
}

.svg-icon {
    width: 1rem;
    order: -1;
    transition: all 0.2s;
    stroke-dasharray: 0, 20;
    stroke-dashoffset: -14.142;
}

.svg-icon path {
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

.in-login,.in-contact:focus + .svg-icon {
    stroke-dasharray: 28.284, 20;
    stroke-dashoffset: 0;
}

.in-login,.in-contact:focus ~ .d-line .focus,
.in-login,.in-contact:valid ~ .d-line .valid,
.in-login,.in-contact[data-touched]:invalid ~ .d-line .invalid {
    stroke-dasharray: 40, 0;
    stroke-dashoffset: 0;
}